[{{tgLink .Repository .RepositoryURL}}] Открыт PR{{if .PullRequest.Number}} #{{.PullRequest.Number}}{{end}}: {{tgLink .PullRequest.Title .PullRequest.URL}}
Автор {{tgLink .PullRequest.Author.Name .PullRequest.Author.URL}}
{{if .IssueKeys}} Задачи [{{join .IssueKeys ", "}}]{{end}} 
