\[{{tgLink .Repository .RepositoryURL}}\]{{if .IssueKeys}} \[{{tgIssueURLs .IssueKeys}}\]{{end}}{{tgLink .Sender.Name .Sender.URL}} запушил изменения ({{.Push.TotalCommits}}) в ветку {{tgLink .Branch .BranchURL}} {{tgLink .Push.CommitTitle .Push.URL}}
