{{tgLink .Repository .RepositoryURL}} Push в {{tgLink .Branch .BranchURL}}{{if .IssueKeys}} [{{join .IssueKeys ", "}}]{{end}}
{{tgLink .Sender.Name .Sender.URL}} · commits: {{.Push.TotalCommits}}
{{- if .BranchURL}}
{{.BranchURL}}
{{- end}}
