{{tgLink .Repository .RepositoryURL}}{{if .IssueKeys}} [{{join .IssueKeys ", "}}]{{end}} Открыт PR{{if .PullRequest.Number}} #{{.PullRequest.Number}}{{end}}: {{tgLink .PullRequest.Title .PullRequest.URL}}
{{.PullRequest.Author.Name}}
{{- if .PullRequest.URL}}
{{.PullRequest.URL}}
{{- end}}
