\[{{tgLink .Repository .RepositoryURL}}\]{{if .IssueKeys}} \[{{tgIssueURLs .IssueKeys}}\] {{end}}{{tgLink .PullRequest.Author.Name .PullRequest.Author.URL}} открыл PR {{tgLink .PullRequest.Title .PullRequest.URL}}
