\[{{tgLink .Repository .RepositoryURL}}\]{{if .IssueKeys}} \[{{tgIssueURLs .IssueKeys}}\]{{end}} Запрошена проверка PR{{if .PullRequest.Number}} \#{{.PullRequest.Number}}{{end}} {{tgLink .PullRequest.Title .PullRequest.URL}}{{if .PullRequest.Reviewers }} от пользователя {{with lastReviewer .PullRequest.Reviewers}}{{tgMention .}}{{end}}{{end}}
